[Desktop Entry]
Name=Xplns
Comment=Desktop astronomy simulation
Comment[pl]=Symulacja nieba
Icon=Xplns
Exec=xplns
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
# vi: encoding=utf-8
